# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\360安全浏览器下载\【Python】学生成绩管理系统\【Python】学生成绩管理系统\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
